.start{
    display: grid;
    grid-template-columns: auto auto;
    height: 80vh;
    padding-top: 6rem;
}
@media only screen and (max-width:611px){
    .start{
        width: 611px;
    }
}
.start1{
    width: 80%;
    padding-left: 3rem;
}
.logo{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 132, 255);
}
.for{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hii{
    text-decoration: none;
    color: black;
}
.hii:hover{
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hi{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 280px;
}
.bottom{
    padding: .6rem;
    margin-left: 2rem;
    width: 10rem;
    border: none;
    background-color: rgb(13, 170, 13);
    border-radius: .2rem;
}
.formst{
    background-color: whitesmoke;
    width: 300px;
    padding: 1.5rem;
    margin-right: 3rem;
    border-radius: .4rem;
}
.email{
    text-align: center;
    padding: .8rem;
    width: 12rem;
}
.pass{
    padding: .8rem;
    width: 12rem;
    margin-top: 1rem;
}
.log{
    padding: .7rem;
    padding-right: 6rem;
    padding-left: 4.8rem;
    border: none;
    background-color: rgb(0, 132, 255);
    border-radius: .2rem;
    margin-top: 1rem;
    color: white;
    font-size: 1.1rem;
}
.ta1:hover{
    text-decoration: underline;
}
.ta1{
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(0, 132, 255);
    padding-left: 3rem;
    padding-top: 2rem;
}
footer{
    padding-left: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}